<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
 
    {{>navbar}}
    <div class="container-fluid main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <!-- left side div -->
                 <!-- right side div  -->
                 <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
 
                         <img src="Images/about.png" alt="about_image" class = "img-fluid" title="Manish">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I am a <span class = "text_clr"> MERN Stack developer</span> and I love Music 🎧</h1>
                    <a href="https://github.com/NightmareManish" target="git_manish"><button> About Me </button></a>
                </div>

               
            </div>
            </div>
        </div>

    </div>
</body>
<footer>
    <p>Created with Love 💕</p>
</footer>

</html>