<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
 
    {{>navbar}}
    <div class="container-fluid main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <!-- left side div -->
                 <!-- right side div  -->
                 <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
 
                         <img src="Images/about.png" alt="about_image" class = "img-fluid" title="Manish">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I am a <span class = "text_clr"> </span> and I love Music 🎧</h1>
                    <a href="https://github.com/ManishGupta-x" target="git_manish"><button> About Me </button></a>
                </div>
            </div>
            </div>
        </div>

    </div>
     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
     <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
     <script>
        var typeData = new Typed(".text_clr",{
            strings: [
                "MERN Stack Dev",
                "Full stack Developer",
                "JS Lover",
                "Backend Developer",
                "Coder",
            ],
            loop:true,
            typeSpeed:100,
            backSpeed:80,
            backDelay:1000,

        });
     </script>
</body>
<footer>
    <p>Created with Love 💕</p>
</footer>

</html>